<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="keywords" content="Vervoerregio Amsterdam WCAG" />
    <meta name="description" content="Vervoerregio Amsterdam WCAG" />
    <meta name="author" content="Rick Vellinga, Daan Carstens en Wesley Schorel" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vervoerregio Amsterdam</title>
    <link rel="icon" type="image/png" href="assets/favicon.svg" />
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="/chat.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
