:root {
  --c-white: white;
  --c-black: black;

  --c-purple: #B9005F;
  --c-pink: #E30059;
  --c-blue: #606EB3;
  --c-gray: #ededed;
  --c-darkgray: #C9B5B2;

  --c-hover: #cb0069;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body,
html {
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--c-black);
  background: var(--c-gray);
}

h1, h2 {
  color: var(--c-pink);
}

/* Navigatie */

nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--c-white);
  position: relative;
  z-index: 2;
}

/* ul::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
} */

nav div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div img {
  height: 3em;
}

nav ul {
  z-index: 2;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  background-color: var(--c-white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;
  overflow-y: hidden;
}

nav li {
  float: left;
  background-color: var(--c-pink);
  white-space: nowrap
}

li.active {
  background-color: var(--c-purple);
}

nav li a {
  display: block;
  color: var(--c-white);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

nav li a:hover {
  background-color: var(--c-hover);
}

/* Header */

.hero-banner {
  height: 50vh;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url("https://i.imgur.com/B1ZpNJR.jpeg");
}

#projecten {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url("https://i.imgur.com/6Cy55t3.jpeg");
}

#urltoevoegen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url("https://i.imgur.com/O3jeqQA.jpg");
}

#instrumentarium {
  background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url("https://i.imgur.com/ddCgDAd.jpeg");
}

.header-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.header-container div {
  width: 80%;
  height: auto;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: var(--c-white);
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.header-container h1 {
  font-size: 2.5em;
  color: var(--c-pink);
}

.header-container p {
  margin-top: 5px;
  font-size: 1.2em;
}

/* Uitleg container */

.uitleg-container {
  width: 80%;
  margin: 6.5em auto .5em auto;
  padding-bottom: 2em;
}

.uitleg-container article {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: var(--c-white);
  margin-top: 2em;
}

.uitleg-container article:nth-child(2) img {
  object-position: 80%;
}

.uitleg-container div {
  padding: 2em;
  width: 50%;
}

.uitleg-container img {
  border-radius: 10px 0 0 10px;
  width: 40%;
  min-height: 100%;
  object-fit: cover;
  background-color: rgb(193, 193, 193);
}

#uitleg-container-wide-img {
  width: 50%;
  height: auto;
}

#wide-img {
  width: 100%;
  height: 100%;
}

.uitleg-container h2 {
  color: var(--c-pink);
  font-size: 2em;
}

.uitleg-container p {
  margin-top: 5px;
  font-size: 1.1em;
}

/* Projectboard */

.cubeimage {
  width: 10em;
  right: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  padding: 2.5rem 2rem;
}

.partner-container {
  margin: 6.5em auto 2.5em auto;
  color: var(--c-pink);
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.margin-extra {
  margin: 8em auto 2.5em auto;
}

.partner-container p {
  color: var(--c-black);
}

.partner-content a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 275px;
}

.partner-cube {
  background-color: var(--c-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-direction: row;
  border-radius: 10px;
}

.check-button {
  background-color: var(--c-pink);
  width: 2em;
  height: 2em;
  border-radius: 5px;
}

.globe {
  height: 2em;
  padding: .2rem;
}

.url {
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

progress {
  accent-color: var(--c-pink);
}

ion-icon {
  color: var(--c-white);
  font-size: 1.5em;
}

/* URL toevoegen pagina */

.formulier-container {
  width: 80%;
  border-radius: 10px;
  margin: 6.5em auto .5em auto;
  padding-bottom: 2em;

}

.formulier-container .formulier {
  background-color: var(--c-white);
  padding: 1.5rem 2rem;
  border-radius: 10px;
}

.formulier-container h2 {
  font-size: 1.6em;
  color: var(--c-pink);
}

form label {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 3px;
}

form input,
select {
  border: 2px solid var(--c-pink);
  outline: var(--c-pink);
  color: var(--c-pink);
  margin-left: 0;
  padding: .5em;
  border-radius: 10px;
}

.instrumentarium .info {
  padding: 1rem;
}

.info div {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="submit"] {
  color: var(--c-white);
  padding: .5em;
  margin-top: 12px;
  font-size: 1em;
  width: 15em;
  background-color: var(--c-pink);
  cursor: pointer;
}

form div {
  display: flex;
  flex-direction: column;
}

/* Instrumentarium */

.huidigURL {
  width: 80%;
  margin: 6.5em auto 0 auto;
}

.huidigURL h2 {
  color: var(--c-pink);
  font-size: 1.7em;
}

.huidigURL article {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: var(--c-white);
  margin-top: 2em;
  flex-direction: column;
  padding: 1.5em 2em;
}

.instrumentarium-container {
  width: 80%;
  margin: 0 auto .5em auto;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5em;
  z-index: -1;
}

 .instrumentarium {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: var(--c-white);
  margin-top: 2em;
}

.instrumentarium h3 {
  font-size: 1.4em;
  color: var(--c-pink);
}

.instrumentarium p {
  margin-top: 10px;
  font-size: 1em;
}

.instrumentarium details {
  background: #eee;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.instrumentarium form details {
  margin-bottom: 10px;
}

.instrumentarium form input[type=submit] {
  margin-top: 0;
}

.instrumentarium #principes{
  padding: 2em;
}

.instrumentarium .info {
  padding-bottom: .5em;
}

.add-button {
  background-color: var(--c-pink);
  width: 8rem;
  height: 2.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1em;
}

.instrumentarium-container nav {
  margin-top: 2em;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  z-index: 1;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 250px !important;
}

.instrumentarium-container nav ol {
  display: flex;
  flex-direction: column;
  gap: var(--small-size);
  list-style: none;
}

.instrumentarium-container nav li {
  background-color: var(--c-white);
}

.instrumentarium-container nav li a {
  color: var(--c-black);
  text-align: left;
  padding: .25rem 0;
}

.instrumentarium-container nav li a:hover {
  background-color: var(--c-white);
}

.instrumentarium-container summary {
  cursor: pointer;
}

.instrumentarium-container summary>* {
  display: inline;
}

.richtlijnen {
  margin-top: 5px;
}

.richtlijnen summary input {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid var(--c-pink);
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  transition: .2s;
  cursor: pointer;
}



.richtlijnen summary label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  cursor: pointer;
}

.richtlijnen summary svg.arrow {
  height: fit-content;
  transform: rotate(90deg);
  font-size: var(--medium-size);
  transition: .2s;
  margin-right: 10px;
}

.richtlijnen details[open]>summary svg.arrow {
  transform: rotate(180deg);
  transition: .2s;
}

.richtlijnen summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.principe-titel {
  font-size: 1.1em
}

.succescriteria h5 {
  font-size: 1em;
}

.richtlijnen summary input:checked {
  box-shadow: inset 0 0 0 20px var(--c-pink);
}

.add-button:hover {
  background-color: var(--c-hover);
}

.urlId {
  display: none;
}

/* Offline */

.offline {
  margin: 6.5em auto 3em auto;
  width: 80%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.offline div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offline div h3 {
  color: var(--c-pink);
}

.offline div .add-button {
  width: 11rem;
}

.offline-img {
  width: 20em;
}

/* Preloader */

#preloader{
  background: #E5EFF1 url(assets/loader.gif) no-repeat center center;
  background-size: 7%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

/* PROGRESS */

.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
}

.progress-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress-path {
  fill: none;
  stroke: #f3f3f3;
  stroke-width: 6;
}

.progress-fill {
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1s ease-in-out;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.progress-value {
  display: inline-block;
  margin-right: 5px;
}

.progress-total {
  display: inline-block;
}

.completion-image {
  display: none; /* Initially hide the image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
}

/* BACK TO TOP */

.top {
  width: 55px;
  height: 55px;
  background: var(--c-blue);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: var(--c-blue);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 85px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Responsive media queries */

@media screen and (max-width: 1400px) {
  .partner-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 69em) {
  .uitleg-container article:nth-child(2) img {
    object-position: center;
  }
}

@media screen and (max-width: 845px) {
  .header-container h1 {
    font-size: 2em;
  }

  .instrumentarium-container {
    grid-template-columns: 1fr;
  }
  
  .instrumentarium-container nav {
    margin-top: .5em;
}

  .partner-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-container p {
    font-size: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .cubeimage {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .uitleg-container article {
    flex-direction: column;
  }

  .uitleg-container img,
  #uitleg-container-wide-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .uitleg-container div {
    padding: 2em;
    width: 100%;
  }
}

@media screen and (max-width: 716px) {
  .header-container h1 {
    font-size: 1.8em;
  }

  ul::after {
    display: none;
  }

  .header-container p {
    font-size: 1em;
  }

  .uitleg-container h2 {
    font-size: 1.5em;
  }

  .uitleg-container p {
    font-size: 1em;
  }

  .header-container div {
    height: auto;
  }

  .top {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .uitleg-container {
    margin: 9em auto 7em auto;
  }

  form label {
    font-size: .9em;
  }

  .header-container p {
    font-size: .9em;
  }

  .formulier-container h2 {
    font-size: 1.5em;
  }

  .header-container h1 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 400px) {
  .formulier-container {
    margin: 7.5em auto 6.5em auto;
  }
}